/*Esto es un comentario*/

#Background {

    background-color: gray;
}

.Encabezado {

    color: white;
    border: solid;
    border-color: midnightblue;
    border-width: 5px;
    background-color: midnightblue;
    padding: 30px 15px 30px 15px;
    
}

.Encabezado #ETitulo {
    text-align: left;
    
}


.Encabezado .SearchBar {
    text-align: center;
    display: inline;
    position: relative;
    left: 100px;
    bottom: 100px;
} 

.Margen {

    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    
}

.Post {

    margin-top: 40px;
    width: 800px;
    height: 1000px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    padding: 70px 15px 30px 15px;
    

}

.PostTop {
    display: inline-block;
    list-style: none;
    margin-left: 100px;
    line-height: 10px;
}

.cover {
    text-align: center;
}

.Desc {
    margin-left: 100px;
}

.comentarios {
    margin-left: 100px;
}

.vinculos {
    text-align: center;
}